<section class="ourproduct">
  <div class="container ourproduct-inner">

    <style>
  .ourproduct-info h3 {
    font-size: 30px; /* Bigger Quick Access heading */
  }

  .ourproduct-info p {
    font-size: 22px; /* Bigger subtext */
  }
</style>
    

    <div class="ourproduct-card" id="spotlightCard"></div>

    <div class="ourproduct-info">
      <h3>Quick Access</h3>
      <p>Work Smarter not Harder💡</p>

      <div class="product-grid">

        <a href="/pages/shop.html" class="product-item">
          <img src="images/pencil.png" alt="Notes">
          <span>Notes (MAKUT)</span>
        </a>

        <a href="/pages/syllabus.html" class="product-item">
          <img src="images/checklist.png" alt="syllabus">
          <span>Syllabus (MAKUT)</span>
        </a>

        <a href="/pages/org.html" class="product-item">
          <img src="images/book.png" alt="Organizer(Free)">
          <span>Organizer (Free)</span>
        </a>

        <a href="/pages/qp.html" class="product-item">
          <img src="images/exam.png" alt="Question Papers(Free)">
          <span>Question Papers (Free)</span>
        </a>

        <a href="/pages/project.html" class="product-item">
          <img src="images/project.png" alt="Project(Free)">
          <span>Final Year Projects</span>
        </a>
        <a href="/pages/gate.html" class="product-item">
          <img src="images/assignment.png" alt="Project(Free)">
          <span>Gate Notes (Free)</span>
        </a>

      </div>

    </div>

  </div>
</section>
