<section class="ourproduct">
  <div class="container ourproduct-inner">

    <style>
      .ourproduct-info h3 {
        font-size: 30px;
      }

      .ourproduct-info p {
        font-size: 22px;
      }
    </style>

    <div class="ourproduct-card" id="spotlightCard"></div>

    <div class="ourproduct-info">
      <h3>Quick Access</h3>
      <p>Work Smarter not Harder 💡</p>

      <div class="product-grid">

        <a href="./pages/shop.html" class="product-item">
          <img src="./images/pencil.png" alt="Notes (MAKUT)">
          <span>Notes (MAKUT)</span>
        </a>

        <a href="./pages/syllabus.html" class="product-item">
          <img src="./images/checklist.png" alt="Syllabus (MAKUT)">
          <span>Syllabus (MAKUT)</span>
        </a>

        <a href="./pages/org.html" class="product-item">
          <img src="./images/book.png" alt="Organizer (Free)">
          <span>Organizer (Free) (MAKUT)</span>
        </a>

        <a href="./pages/qp.html" class="product-item">
          <img src="./images/exam.png" alt="Question Papers (Free)">
          <span>Question Papers (Free) (MAKUT)</span>
        </a>

        <a href="./pages/project.html" class="product-item">
          <img src="./images/project.png" alt="Final Year Projects">
          <span>Final Year Projects</span>
        </a>

        <a href="./pages/gate.html" class="product-item">
          <img src="./images/assignment.png" alt="Gate Notes (Free)">
          <span>Gate Notes (Free)</span>
        </a>

        <a href="./pages/gatesdept.html" class="product-item">
          <img src="./images/exam1.png" alt="GATE PYQS">
          <span>GATE PYQS</span>
        </a>

      </div>
    </div>

  </div>
</section>
